body {
font-family: 'Hind', sans-serif;
color: black;
background-color: white;
text-align: center; }

.smtb h3, p {
font-family: 'Inconsolata', monospace;
color: white;
background-color: black; }

.smtb a {
  color: white; }
