body {
font-family: 'Basic', sans-serif;
color: black;
background-color: white;
text-align: center;}

#smtb-container {
  text-align: center; }

#smtb {
color: white;
background-color: black;
font-family: 'Inconsolata', monospace;
display: inline-block; }

#smtb a {
  color: white; }
