body {
font-family: 'Basic', sans-serif;
color: black;
background-color: white;
text-align: center;}

#smtb-container {
  text-align: center; }

#smtb {
color: white;
background-color: black;
font-family: 'Inconsolata', monospace;
display: inline-block;
padding: 10px;}

#smtb a {
  color: white; }

#perep-container {
  text-align: center; }

#perep {
  color: white;
  background: linear-gradient(90deg, rgb(0, 85, 164), rgb(239, 65, 53));
  font-family: 'Fira Sans Condensed', sans-serif;
  display: inline-block;
padding: 10px;}

#perep a {
  color: white; }

.contact a {
  color: #000;
text-decoration: none; }
